<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1" />
  </head>
  <body>
    <div id="vdi-canvas">
      <iframe src="{{ VNCHOST }}&autoconnect=true" width="100%" height="100%">
      </iframe>
    </div>
  </body>
</html>
